<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Films</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/script.js" defer></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  crossorigin="anonymous"
/>



</head>
<body>
<header>
  <nav class="navbar">
    <ul class="nav-links" id="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/movies">Films</a></li>
      <li><a href="/directors">Regisseurs</a></li>

      <% if (user) { %>
        <li><a href="/logout">Logout (<%= user.username %>)</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <% } %>
    </ul>
  </nav>
</header>


